[2016-04-04 18:32] ketzacoatl opened #2 "Add a README.md"
describe the project, how to get started, how to extend,  how to contribute, where to find more docs, philosophy, limitations, etc.

[2016-04-04 18:32] ketzacoatl opened #3 "Document all test environments"
What it is, how it works, how to run it, how to setup CI to run it, how to extend, etc.

For each env.

[2016-04-04 18:40] ketzacoatl opened #4 "Add tutorial: Create a VPC for Packer"
On the path towards running a Packer build in a tight container (eg default deny), the first step is to create that tight container. Write a tutorial that documents how to create that container for Packer to build an AMI in.

[2016-04-04 18:41] ketzacoatl opened #5 "Add tutorial: Build an AMI with packer"
Using the defaults, show some of the pillar, keep it simple. Build an AMI that can be used as a management/worker/host/etc.

[2016-04-04 18:45] ketzacoatl opened #6 "Add a tutorial: Create a VPC and an ASG with a basic service"
This exists - https://github.com/fpco/terraform-aws-foundation/blob/master/examples/vpc-scenario-2/README.md or https://github.com/fpco/terraform-aws-foundation/blob/master/examples/vpc-scenario-1/README.md - but these aren't much of a tutorial. We could leave these READMEs as minimal and provide a separate tutorial/doc that includes more details to explain the why and how behind the architecture.

[2016-04-04 18:47] ketzacoatl opened #7 "Update example ubuntu's packer build_config.json"
This needs to be a better example: https://github.com/fpco/fpco-terraform-aws/blob/master/packer/ubuntu-trusty/build_config.json

Document this and how to fill it in properly.

[2016-04-04 19:08] ketzacoatl opened #8 "add basic structure for docs"
asciidoctor or mkdocs, still yet to be determined. I will review with others and then set out on one. There are initial tests with mkdocs in this repo under the docs branch, I will check there too.

[2016-12-04 21:01] ketzacoatl opened #10 "setup CI for project docs"
What would this look like?

* script to run the details of CI (in this repo)
* deployment/service definitions for kubernetes
* some CI build plan setup somewhere

The CI build script should:
* pull in docs from `fpco-salt-formula`
* build the docs for both projects
* build/push a docker image
* update production deployment of the docs (hosted/publicly available)

[2016-12-08 15:53] ketzacoatl opened #11 "drop AWS providers and credential variables from each module"
At least for now, it'll be better to drop the `aws` provider and any `region`, `secret_key`, and `access_key` variables defined in each module - let the module inherit what its calling environment has setup. This allows the `$AWS_*` envvars to take precedence, and simplifies both use of the modules as well as initial setup when applying/planning changes with Terraform. While there are improvements

[2016-12-09 00:01] #8 closed, assigned to nobody

[2017-01-01 18:04] #11 closed, assigned to ketzacoatl

[2017-01-14 21:14] #10 closed, assigned to nobody

[2017-01-25 12:15] lehins opened #13 "Indentation"
Some of terraform modules use 2 space indentation, others use 4 space indent. Agreement on consistent indentation is very important when many people maintain the same code base. My emac's dafault indent for `terraform-mode` was 2 spaces, plus I used `kubernetes` module as a model, which also had 2 space indent. Haskell indent poll made by Chris revealed a 2 space indent preference, and since that

[2017-03-31 19:07] ketzacoatl commented on #13
@lehins, Personally, I would be in support of using `terraform fmt`, and that defaults to 2 space tabs.  We would need to run that on every module to reset to a common base everywhere. I think it would be good to do.

[2017-03-31 19:09] ketzacoatl opened #16 "update modules to make subnets, availability zones, and similar more dynamic"
This project pre-dates quite a few of Terraform's features that support dynamic modules, and the original modules (`asg`, `cluster-network`, `consul-cluster`, and related, in particular), ought to be updated to make use of these features. As part of this, we should also evaluate all modules using string-lists to see if that can be avoided.

[2017-03-31 19:11] ketzacoatl opened #17 "add a tutorial to demonstrate how to use credstash"
The `credstash` module is a great addition, but it needs some docs to be really useful.

[2017-03-31 19:36] ketzacoatl commented on #13
Having used `terraform fmt` a little, I'm not sure we want to use it (though it's worth considering). That question could be evaluated separately from the indentation issue here. `tf fmt` does a couple of weird things, one is adding blank lines between lines that use maps and lists, another is that it doesn't really indent multi-line lists enough.

[2017-04-24 19:55] ketzacoatl opened #18 "update docker install in vpn-gateway TF module"
See the init in https://github.com/fpco/fpco-terraform-aws/blob/master/tf-modules/vpn-gateway/main.tf, update to use the latest methods for installing docker.

[2017-06-17 20:55] ketzacoatl opened #19 "adding NAT after initial deployment breaks vpc module"
The `vpc` module uses the `nat_gateways` module. If you set `vpc`'s `nat_count` variable to 0, deploy the VPC, and then later change `nat_count` to 2 or 3, the module errors and breaks.

For example:

[code]

[2017-06-17 21:12] ketzacoatl commented on #19
actually, it really breaks process the state file - even after a full `tf destroy` that drops everything, changing the `nat_count` errors out as above.

[2017-08-12 21:59] ketzacoatl commented on #16
The `asg` module, and the other modules which use `asg`, have all been updated to be more flexible, and to drop use of string-lists. The `cluster-network` and `consul-cluster` modules could use other updates, so I will leave this ticket open.

[2017-08-15 21:45] #17 closed

[2017-09-25 18:27] ketzacoatl opened #26 "Correct docs in kube-stack module"
and add docs in the `kube-controller-iam` and `kube-worker-iam` modules.

[2017-10-05 03:31] ketzacoatl opened #27 "test dropping the `name` parameter for resources that support a `Name` tag"
When you go do rename a bunch of resources, the `name` parameter might mean you need to re-create those resources. It would be nice if a rename were limited to "updating the `Name` tag". TF sometimes provides a random GUID for a name, when you've omitted the `name` parameter. We should test this out a little (for ASG, LC, and SG in particular, but maybe also ELBs and others), and see what the UX i

[2017-11-07 13:50] kerscher opened #34 "Modules should export IAM policies and not roles"
When modules expose their `output`s, they should provide `aws_iam_policy` or `aws_iam_policy_document`s for users, and never only `iam_role`.

This way, users can mix policies in their own roles or other IAM resources.

[2017-11-20 23:11] kerscher opened #37 "Add module: custom Kubernetes cluster"
Module should contain as inputs at least:

1. Number and size of master nodes
1. Number and size of worker nodes
1. CIDR ranges for the network model
1. VPC to use

As outputs, it should provide at least:

1. IPs of nodes

The module should not create its own VPC, or assume it will have access to non-GovCloud available resources — i.e. NAT gateways etc for the VPC should be provided by other modul

[2017-11-29 23:16] kerscher commented on #13
I vote for `terraform fmt` the entire thing, even with its weirdness. There are workarounds for some things it does strangely, such as separating blocks when there are comments in the middle. I can create a new branch and execute everywhere, creating one commit for module formatted. We can then review where it would be undesired with actual examples.

[2017-11-29 23:18] kerscher commented on #16
Can we maybe break this into different issues for each kind of change?

[2017-11-29 23:23] ketzacoatl commented on #16
I hit up the changes I wanted just a couple of weeks ago, and those changes are on `master`. I think we close this as complete.

[2017-11-29 23:23] #16 closed

[2017-12-02 16:28] ketzacoatl opened #43 "write a set of tutorials that cover each of several common "ops" patterns"
* Auto-scaling groups
* VPC topologies
* Single-Node-ASGs w/ Persistent Data
* EC2 NAT instances

[2018-01-24 21:25] ketzacoatl commented on #19
the new `vpc-scenario-*` modules addressed this issue, so I think this is safe to close (maybe if we were to deprecate that old `vpc-legacy` module?)

[2018-01-24 21:34] ketzacoatl opened #47 "Audit modules with S3 buckets and IAM policy"
We have a few modules related to S3 buckets and permissions / access to those buckets. Specifically, `s3-remote-state` and `s3-full-access`, though there may be others I am forgetting (not looking at the list right now). I would like to audit these modules to verify they do what we want them to do.

There are a few considerations in auditing these modules:

* code review - get someone other than m

[2018-01-25 19:42] ketzacoatl opened #48 "light refactor for EC2 instance profiles and IAM policies"
For modules that use IAM profiles and are generally hooked up to EC2 instance profiles, our modules should:

* Assume the user would create an EC2 instance profile, a role for the instance, and some number of policy attachments.
* Provide the components to make that easy. For example, the `persistent-ebs` module create the profile for you and gives it an inconsistent name - modules should create r

[2018-02-07 18:08] ketzacoatl opened #49 "move `tf-modules` to `modules`"
This is an upstream convention, and it'll allow the TF registry to do auto-discovery on the "sub-modules" in this repo.

[2018-02-07 18:10] ketzacoatl opened #50 "add a top level `main.tf` for the repo"
The `main.tf` is a requirement for auto-discovery with the TF registry. It could be empty and void, and the registry would not really care. However, it's also a great opportunity to package up a demo or provide some concept of a "default" env for the AWS module repo.

[2018-02-07 18:24] ketzacoatl opened #51 "rename this repo"
As part of publishing our modules on the TF registry, we need to rename the repo. The TF registry imposes a naming convention for modules published on the registry (it's tied to github, actually), so we would need to rename this repo to `terraform-aws-$NAME`, where `$NAME` is `core` or `stack` or `foundation` or similar. I've run tests with `ketzacoatl/terraform-aws-fpc-ops`, and that worked on th

[2018-02-07 18:46] ketzacoatl opened #52 "review duplicate EBS volume modules"
we have `multi-volumes`, `persistent-ebs-volumes`, and `persistent-ebs`. I'm sure we can either a) drop one, or drop two and modify the remainder to be more flexible.

[2018-02-07 19:05] ketzacoatl commented on #49
I'm doing this now.. buckle up!

[2018-02-07 19:10] ketzacoatl opened #53 "Add a README.md to all modules we want to publish"
Even if it's blank for a moment, that will publish the module. If the module should be kept as "internal", then don't add the README, and the TF registry will not publicize it in the same way.

[2018-02-07 19:11] ketzacoatl opened #54 "publish our modules on the Terraform Registry"
Read up on the requirements in https://www.terraform.io/docs/registry/modules/publish.html and https://www.terraform.io/docs/modules/create.html#standard-module-structure.

- [x] rename the repo
- [x] move `tf-modules` to `modules`
- [x] move `tests` to `examples
- [x] add `REAME.md` to "public" modules
- [x] LICENSE check
- [x] add `main.tf` to top-level of repo
- [x] update top-level `README.md`

[2018-02-07 19:14] #49 closed

[2018-02-07 19:22] ketzacoatl commented on #51
OK, renamed and live on https://github.com/fpco/terraform-aws-foundation! UPDATE your git remotes :dagger:
cc @borsboom / @lehins / @kerscher / @denibertovic

[2018-02-07 19:22] #51 closed

[2018-02-07 19:26] ketzacoatl opened #55 "rename "tests" to "examples""
As part of aligning with the "standard module structure" per https://www.terraform.io/docs/modules/create.html.

[2018-02-07 20:25] ketzacoatl commented on #49
@lehins pointed out we should setup a symlink in the repo, to point `tf-modules` to `modules` (thanks!).

I've done that, and to prove this still work, here is a dummy test that uses the old URL:

[code]

and we can see it work here (the "required argument" errors would not happen if the module was not retrieved):

[code]

I ran some other checks on the repo cloned, and it's all looking good.

[2018-02-07 20:49] #55 closed

[2018-02-07 20:52] ketzacoatl commented on #13
there are a couple of modules remaining, where I _really_ didn't like how `tf fmt` wanted to move a comment or some crap like that.. but this is complete otherwise.

[2018-02-07 21:18] ketzacoatl opened #57 "all modules should add `description` to all `outputs`"
we're still using the `// description` as used by `terraform-docs`, but TF core now has support for `description` in the `output` - see https://www.terraform.io/docs/configuration/outputs.html#description-1

[2018-02-19 16:52] ketzacoatl opened #58 "add new module for gitlab runners"

[2018-02-20 21:44] ketzacoatl opened #59 "add alarms/alerts to the ELK Stack"
The `elk-stack` module should come packaged with some default alerts/alarms. Those alarms could be packaged in a separate module if that makes sense, but `elk-stack` should demonstrate how this is done by using that module.

[2018-02-28 17:54] ketzacoatl opened #61 "example/gitlab: swap ELB for EIP"
in the single-node asg gitlab example, we currently use an ELB. It would be nice to use EIP there instead, and demo that proper setup. An ELB is better for a configuration where we have multiple web workers in the gitlab ASG (and shared data, so no single-node asg). Here is the example env to update: https://github.com/fpco/terraform-aws-foundation/tree/master/examples/gitlab-asg

Given the non-wo

[2018-02-28 17:55] ketzacoatl opened #62 "example/gitlab-ha: create a new demo env"
demonstrate how to run gitlab on multiple web workers, with data on EFS, and elasticache/RDS.

[2018-03-01 14:42] ketzacoatl opened #63 "separate vpn-gateway scripts and Dockerfile into their own repo"
The VPN helper utility code would be better in a separate repo, leaving only the TF modules in this repo.

[2018-03-01 15:22] ketzacoatl opened #64 "improve how we use aws_security_group_rule resources"
At present, we have a bunch of `foo-sg` modules. These have been around for a while, and used the original `aws_security_group` resource with various _inline_ Ingres and Egress rules, but were then refactored to use the `aws_security_group_rule` resources. We refactored b/c the old method led to a proliferation of security groups being attached to an instance (one SG per component in the distribut

[2018-03-01 17:01] #53 closed

[2018-03-01 17:01] ketzacoatl commented on #54
The modules now have READMEs, see #53.

[2018-03-01 18:39] ketzacoatl opened #65 "add top-level README.md"

[2018-03-01 19:09] ketzacoatl commented on #54
The repo now has a top-level README too, see #65.

[2018-03-01 19:24] #65 closed

[2018-03-01 19:31] ketzacoatl commented on #54
The repo has a top-level `main.tf` (empty), and a `LICENSE`.

[2018-03-01 19:34] ketzacoatl commented on #54
The initial publication is complete, and the modules can be seen online at https://registry.terraform.io/modules/fpco/foundation/aws/0.7.0-rc3.

[2018-03-01 19:34] #54 closed

[2018-03-01 19:46] ketzacoatl commented on #50
We still need to figure out what should be in the top-level `main.tf`. Should this be a minimal example of how to use one of the VPCs? I don't think it's sensible to keep it empty, but it's difficult to decide what should go in it.

[2018-03-06 07:28] ketzacoatl commented on #37
I believe this module exists as the `kube-stack` - https://github.com/fpco/terraform-aws-foundation/tree/master/modules/kube-stack - feel free to re-open if this assessment is incorrect.

[2018-03-06 07:28] #37 closed

[2018-03-06 07:37] ketzacoatl opened #66 "add IAM modules to kube-stack test env"
Testing the `kube-stack` module should include the IAM profiles needed. We already have the modules, so adding this looks like:

[code]

..and then passing to the `kube-stack` module:

[code]

[2018-03-06 07:45] ketzacoatl opened #67 "update handling of security groups in kube-stack test env"
The security group modules now create a base SG (for each node/role), and a bunch of rules are then added to that base SG. The `kube-stack` test env - https://github.com/fpco/terraform-aws-foundation/tree/master/examples/kube-stack-private for example - has not been updated since those SG modules were refactored. After this update, the test env ought to deploy cleanly and work in a basic sense.

[2018-03-06 17:40] kerscher commented on #50
This is already done

[2018-03-06 17:40] #50 closed

[2018-03-07 21:46] ketzacoatl opened #69 "test/validate/document how to (gracefully) apply a rolling update to data nodes in an ELK stack deployment"
With an ELK stack deployed using our TF modules, it's common for an initial cluster to be deployed with `t2` instance class (during initial dev/R&D/etc), and then later (when going to production) there is the need to allocate more resources to the cluster.

The change in Terraform is simple, there's a variable for the instance type. But applying the update as-is takes ES down and is not graceful.

[2018-03-07 21:51] ketzacoatl opened #70 "Update `elk-stack` to support either ALB or ELB"
ATM, the `elk-stack` module uses an ALB, and at one point in the past the module provided an ELB. ALBs are really nice, but for ELK on GovCloud, there are issues with that assumption. ALBs require at least 2 AZ, there are only 2 AZ on GovCloud ATM, and limiting ELK to 1 AZ is a good idea in this situation, so ELB would be better than ALB. With @lehins eval, he believes the module can be rather eas

[2018-03-07 21:56] ketzacoatl opened #71 "document how to setup ES curator for backups in our ELK stack"
The Elasticsearch curator can be configured manage snapshots for ES. Similar to #69, this is another topic to test/validate/document with a tutorial in https://github.com/fpco/terraform-aws-foundation/tree/master/docs/tutorials/elk (not yet created).

[2018-03-13 09:32] #70 closed

[2018-03-14 10:56] ketzacoatl opened #76 "update example env for consistency"
In this repo we have a collection of "example" (or "test") environments, seen here https://github.com/fpco/terraform-aws-foundation/blob/master/examples/. There are some inconsistencies with documentation and how to use the examples:
* no `README`
* no `Makefile`
* in many cases, need to use `-target` when first deploying the network

I would recommend the follow updates:
* add a `Makefile` if it

[2018-03-14 11:15] #66 closed

[2018-03-14 11:20] ketzacoatl commented on #67
I've updated the `kube-stack-private` env, and that is complete. The public env still needs the same updates. I'm reassigning this to @lpaulmp to complete those updates as part of his work with this kube-stack.

[2018-03-14 18:07] ketzacoatl commented on #64
One thing I find annoying about a module that accepts multiple SG to attach at once: This would be saying, "here is a list of different SG that should all have the 'open egress' rule", and when doing it this way, it's difficult to `-target` a specific set of resources in the stack, you'll touch updates to the worker and bastion's SGs when you only want to `-target` the SG for the kube controller.

[2018-03-14 20:32] ketzacoatl commented on #57
@lpaulmp, This is another easy task that would show you around the modules, while also improving the auto-generated docs displayed on the upstream Terraform registry.

[2018-03-16 05:58] lpaulmp commented on #57
@ketzacoatl I opened a PR to address this issue

[2018-03-16 09:13] ketzacoatl commented on #63
I've created a new repo - https://github.com/fpco/openconnect-gateway - for this code to live in.

[2018-03-16 09:18] ketzacoatl commented on #13
I believe this is complete enough to close, we'll hit up new places with new commits/PRs/etc.

[2018-03-16 09:18] #13 closed

[2018-03-16 09:24] ketzacoatl opened #78 "new modules: kube security groups"
Add three new security group modules, one each for the Kube Controller, Worker, and Load Balancer.

For example, for the Kube Controller, extract https://github.com/fpco/terraform-aws-foundation/blob/09af3018b4c9058544cf432de4720ec81e7fda96/examples/kube-stack-private/kube.tf#L41-L73 into a new module, parametize the details like CIDR and name (following conventions with our other modules, like va

[2018-03-19 16:21] #57 closed

[2018-03-19 22:36] #67 closed

[2018-03-20 18:48] ketzacoatl opened #81 "simplify use of name_prefix in kube-controller-iam and kube-node-iam modules"
See https://github.com/fpco/terraform-aws-foundation/blob/master/modules/kube-controller-iam/main.tf, and as a comparison to https://github.com/fpco/terraform-aws-foundation/blob/master/modules/asg/main.tf#L48. Elsewhere, the modules do the following:

* use `name_prefix` variable to standardize resource naming
* no default on `name_prefix`, so it's a required parameter when calling the module
* i

[2018-03-22 21:55] AronT-TLV commented on #63
Do you want me to do this “formally” with a PR or just move and delete?

[2018-03-23 14:44] ketzacoatl commented on #63
I don't see much help in a PR for this, though code review and checking over one another's work are norms we aim to follow. No need to retain the git history of the files moved.

[2018-03-23 14:47] ketzacoatl commented on #61
This is a good task to get acquainted with Terraform on AWS and the workflows that we are using.

[2018-03-23 16:30] AronT-TLV commented on #61
If I understand correctly, the purpose of a single node ASG is to always guarantee there is one node "alive". However to make sure your DNS works if the single node fails and automatically gets replaced, you still need the ELB, so you can CNAME to that which doesn't go away. And AFAIK you still can't use EIP with ELB. I checked as much as I can and even with the new application load balancers, it

[2018-03-23 16:45] ketzacoatl commented on #61
In the "single node asg" pattern, we define an auto scaling group, but limit it to 1 node. The 1 node can then have a few special resources associated with it, like an EBS volume, or an EIP. If the node is lost, a new one comes up in its place. Recovery is relatively quick, and can be automated in a variety of ways. This workflow also plays well for various upgrade/maintenance/migration scenarios.

[2018-03-23 17:58] AronT-TLV commented on #61
Interesting! The missing piece of information for me is that the new EC2 can attach to a specific, existing EIB. I didn’t know this is an option. Since it is, I understand why you want this as an example over the ELB. I'll start playing with it manually, and after I figure it out, modify the code :) I’ll let you know when I run into issues.

[2018-03-23 23:40] ketzacoatl commented on #61
Right, the Terraform will create an EIP and an ASG/LC with a bunch of init/provisioning shell code as `user_data`. In that `user_data` we tell the instance a specific EBS/EIP it should "attach" during init. We have code to retry the attachment until it is present (but that's easier with a block device..). Also, the instance needs permission to be able to attach the EBS/EIP, and rather than give it

[2018-03-26 19:52] AronT-TLV commented on #63
This is basically done. Waiting for approval on moved files before deleting from this repository.

[2018-03-27 19:03] ketzacoatl commented on #63
LGTM, ship it!

[2018-03-29 18:06] #63 closed

[2018-04-04 14:28] ketzacoatl commented on #2
This is in place.

[2018-04-04 14:28] #2 closed

[2018-04-04 14:30] ketzacoatl opened #83 "document kube-stack module"
Goals:
* basic doc coverage for the module, in `README.md`
* drop the docstrings embedded in the module's `main.tf`
* point towards the `kube-stack-private` env as an example of how to use the module

[2018-04-04 14:33] ketzacoatl opened #84 "document `kube-stack-private` example env"
ATM the env doesn't really guide a new engineer through the deployment process, for either the infrastructure w/ TF or the kube cluster itself with kubespray. A new engineer, unfamiliar with kubernetes, should be able to follow the docs and end up with a running kube cluster.  They should see results from `kubectl get nodes`.

[2018-04-11 17:42] ketzacoatl opened #85 "basic tutorial: how to use the setup-meta-infrastructure module"
goal: basic "how to use" docs for https://github.com/fpco/terraform-aws-foundation/tree/master/modules/setup-meta-infrastructure.

[2018-04-12 19:47] kerscher opened #87 "Re-add `init_snippet_run_consul_server`"
The `init_snippet_run_consul_server` module is currently being used downstream.
We should re-add, document and provide in the next released version.

[2018-04-12 19:50] kerscher commented on #87
Initial import on this [commit](https://github.com/fpco/terraform-aws-foundation/commit/921e781f7d77a8326d41dd672455d994faf31881). Needs to be documented before merging.

[2018-04-13 02:55] ketzacoatl commented on #87
I could be wrong, but I'm not sure that this is necessary, as the module had been renamed ( https://github.com/fpco/terraform-aws-foundation/commit/453539cd52a139a25056e477de6702a036c2e446), and then I believe the only change was to separate "configuring consul" from "running consul" (https://github.com/fpco/terraform-aws-foundation/commit/f64820ac2eb4cdcd03ae3cd4cc2dd3a351c40a60) - eg there was t

[2018-04-13 06:47] ketzacoatl opened #88 "write up list of best-practices the modules/example env in this repo aspire to adhere to"

[2018-04-13 15:22] kerscher opened #89 "`consul-demo-server` is passing incorrect parameters to `consul_server`"
The following parameters should be corrected on `consul-demo-server`, as `consul-server` takes none of them anymore:

- `az`
- `name`
- `key_file`
- `name` → now `name_prefix`

[2018-04-13 15:35] ketzacoatl commented on #89
Great! This looks good to me!

[2018-04-13 15:35] #89 closed

[2018-04-13 15:41] kerscher opened #91 "`bind-server` uses deprecated `current` parameter for `data.aws_region`"
The implicit default is to use what `current = true` used to achieve. The option will be removed and is deprecated.

[2018-04-13 15:52] kerscher opened #93 "Deprecated `data.aws_region.current` parameter"
The following modules have the deprecated `current = true` parameter for `data.aws_region`. On the left are line numbers:

[code]

It should be trivial to remove this, `terraform fmt` and then issue a PR, like the one for #91.

[2018-04-13 15:53] #91 closed

[2018-04-13 15:54] kerscher commented on #87
You are right. We should document those changes somehow, though I’m not sure how. Does `terraform` exposes a deprecation mechanism for modules?

[2018-04-13 15:54] #87 closed

[2018-04-13 19:42] ketzacoatl commented on #84
This is all set, additional updates will come in new tickets.

[2018-04-13 19:42] #84 closed

[2018-04-13 19:58] ketzacoatl commented on #87
we're due for a changelog..

[2018-04-13 20:12] ketzacoatl commented on #78
I have opened #94 to take this one over the hill (closing in favor of the new PR)

[2018-04-13 20:12] #78 closed

[2018-04-13 20:39] ketzacoatl commented on #78
This has been merged to master!

[2018-04-15 17:41] ketzacoatl opened #95 "move terraform-vpc to examples so it can be used as such"
the `terraform-vpc` env is in https://github.com/fpco/terraform-aws-foundation/tree/master/packer/terraform-vpc. This is ideal for the packer builds (eg https://github.com/fpco/terraform-aws-foundation/blob/master/packer/ubuntu-trusty/build.sh#L11-L15), but not ideal for the user who would want to use this example via the registry.

[2018-04-16 13:29] #93 closed

[2018-04-16 13:40] kerscher opened #97 "Format codebase"
There are multiple styles within the codebase, making it necessary for engineers to selectively commit when using the standard `terraform fmt`. We should format the entire codebase once, and then keep it as such.

Adding CI pipeline to check for it would also be a good idea, but for a second moment.

[2018-04-16 18:13] AronT-TLV opened #99 "Update documentation in s3-remote-state"
Current documentation is way out of date and just plain wrong. Needs to be updated.

[2018-04-16 18:14] AronT-TLV opened #100 "Add "region" as variable for s3-remote-state"
Currently there is no way to control the region for s3-remote state module except by setting it in your AWS config. Should conform to all other modules and be set by a TF variable.

[2018-04-21 20:14] ketzacoatl opened #101 "update CONTRIBUTING.md"
This doc should list out basic info about the expectations/guidelines we have for contributions coming to this module repo.

[2018-04-21 20:19] ketzacoatl opened #102 "add example env, demonstrate how to use the ELK modules in a production-quality deployment"
Setting up ELK is more than just using a couple of modules.. there are a lot of details to consider and ensure you have setup correctly. There are also HA and other maintenance-type concerns a basic demo would skip, but a production-quality deployment cannot skip - this env should demonstrate production quality.

The goals of this work:
* The end result would be similar to the existing `gitlab-asg

[2018-04-22 21:22] kerscher opened #103 "Lightweight tests"
Currently this repository has modules under `examples` that when executed will verify against AWS if modules are correct. This is the most robust and correct way to handle testing. But it suffers from a few problems:

- Running it entails costs
- If `examples` don’t cover all `modules`, then coverage is less than 100%

I propose adding a minimal test environment that can check the code _without_ r

[2018-04-22 21:30] kerscher opened #104 "Automate lightweight tests"
Provide CI automated capabilites to the tests introduced in #103.

# Requirements

- Docker image with `rg`, `tflint`, `terraform`, `terraform-index` and other needed tools
- `.travis.yml` or other CI build pipeline spec, running the scripts in order:
  1. `tfinit`
  1. `tflint`
  1. `undeclared-variables`
  1. `textual-search`

[2018-04-22 21:34] ketzacoatl commented on #103
This is really great, I love what you have done here. I don't have much feedback to add, but I'll drop it in the PR anyway.

[2018-04-22 21:38] kerscher opened #106 "Invalid module parameters"
Upon executing `terraform init` on `tests/main.tf` for #103 against all current modules, the following invalid parameters were found:

[code]

The `Error:` 100% should be fixed, as they represent direct errors for users. The `Warning:`s would be a good idea to fix. This shows up when `terraform init` by callees also.

[2018-04-22 21:40] kerscher opened #107 "`tflint` does not pass"
The following notices and warnings show up against current `master` by `tflint` when ran against `tests/main.tf` (#103) for all modules:

[code]

In my opinion we should fix _at least_ the `WARNING`.

[2018-04-22 21:48] ketzacoatl commented on #104
@kerscher, is there a reason we should run on travis and not gitlab?

[2018-04-22 21:48] kerscher opened #108 "Undeclared types on module variables"
Types for variables on our modules are only being explicitly set when they consist of `list` or `map`. This prevents automated generation of a test suite with all modules (#105), as well as the problems listed on #103, repeated below. There are too many undeclared variables, so I have copied them into a [gist](https://gist.github.com/kerscher/eb7c36dc583fac7e7b763819d272395d). The following is an

[2018-04-22 21:50] ketzacoatl commented on #108
I agree this is something we should do and be more consistent about when accepting PRs for new modules. I'll add a note about this in the WIP CONTRIBUTING.md doc I have.

[2018-04-22 21:51] kerscher opened #109 "Inline values being used instead of templates"
Inline values prevent templates from being checked as individual files externally, but this is only a nuisance. The real danger is that forgetting to close an inline delimiter changes semantics of the entire `.tf` file. Check the example below:

[code]

The following code above will `terraform apply` correctly, but `module.a.param` will not be `bar`, and `module.b` will never be created. In module

[2018-04-22 21:56] ketzacoatl commented on #109
I would prefer to have a tool that warns us when a mistake has been made, over classifying all use of inlines as evil. I believe we should review occurrences of this individually, and I'm not sure how I feel about a single issue to encompass of occurrences of this pattern.

[2018-04-23 10:13] ketzacoatl opened #110 "add description to all outputs which are missing it"
Outputs like:

[code]

or like:

[code]

should have a `description` and look like:

[code]

[2018-04-23 11:05] kerscher commented on #109
There is nothing inherently evil in this, just as there is nothing evil in pointer arithmetic in C. But designing a tool that checks when either is correct is a very large challenge. It’s just a set of tradeoffs.
I will remove the checks from #103 until we do a manual review then.

We can add the review for the items above in this issue here until all occurrences have been documented as OK or not,

[2018-04-23 11:07] kerscher commented on #106
I would add `P1` to this, as these are actual broken modules. @ketzacoatl @borsboom

[2018-04-23 11:11] kerscher commented on #103
@NorfairKing I would love to hear your thoughts on making these tests robust. Initially I added shell scripts, but converting to Haskell program(s) should be relatively easy.

But I could not think of a way to express invariants that [`validity`](github.com/NorfairKing/validity) would accept :grinning:.

[2018-04-23 12:01] #97 closed

[2018-04-23 12:04] NorfairKing commented on #103
I'm very glad you asked!

Funnily enough, that's actualy the only review comment I gave on the PR, and I read the PR before I read your question here.
I'm more opposed to bash than I am in favour of Haskell in this case, and the only cheap way I can think of making these robust involves two things:

- An idiot-proof guide to running the tests manually.
- Running the tests on CI.

I would love it i

[2018-04-23 12:06] #103 closed

[2018-04-23 12:16] kerscher opened #111 "Rewrite test suite in “real” programming language"
The tests under `scripts/ci` are written in GNU Bash, and need some external binaries in place to be executed. Their logic warrants a language that can provides more guarantees that our checks will be correct. This issue is for specifying and keeping track of this refactoring.

# Requirements for the test suite program(s)

- _Should_ be written in a language with safer guarantees than GNU Bash
- _

[2018-04-23 12:45] NorfairKing commented on #111
@kerscher Love it.

Something something mention the RFC.

This could become hard to test.

[2018-04-23 12:49] kerscher opened #112 "Automatically generate `tests/main.tf`"
`tests/main.tf` contains one `module` call for each one of the modules we have on the repository. Parameters for each of these are the default empty values for the type — e.g. empty string for strings, empty map for maps, empty list for lists.

If a module changes parameters or parameter types, `tests/main.tf` would have to be updated. Right now this has to be done by an actual human being, but it

[2018-04-23 12:51] kerscher opened #113 "Document tests"
There should be documentation on how to use the scripts on `scripts/ci`.
Currently they check for the following things, but are completely undocumented:

- `terraform init` for all modules
- `tflint`
- checking undeclared variable types

All checks are made against `tests/main.tf`, which has to be kept in sync with the modules until it can be auto-generated (#112).

# Requirements

- _Must_ docume

[2018-04-23 12:52] kerscher commented on #113
@NorfairKing :point_up_2:

[2018-04-23 12:55] kerscher commented on #104
Not in my opinion, no. We have talked elsewhere about this, but here are the tradeoffs:

# Travis
- Has a hard limit on timeouts
- Provides public badge

# Gitlab
- Integrated with rest of our tools
- No public badge — but could be added?
- Easier to add “deep” tests with AWS APIs later due to secrets management

[2018-04-23 12:59] lpaulmp opened #114 "Convert IAM inline policies to native data sources"
Inline parameters to IAM policies are not checked during any operation by Terraform, and it is up to the call to the API during `terraform apply` to receive an error response for malformed or incorrect policies.

By using `data.aws_iam_policy_document`, you can ensure during validating that the policy document is well-formed.

[2018-04-23 18:11] kerscher commented on #111
By external dependencies I mean binaries to execute. This should be easy to test, no? Check `PATH` from the env var and if the binary is there and is executable by the user. If it isn’t, exit with an error and print out the binary missing. If you want to avoid many commits to fix those, check all binaries you will call.

In fact, if using something like [`RIO.Process.withProcess`](https://www.stac

[2018-04-24 05:25] #114 closed

[2018-04-24 07:41] NorfairKing commented on #111
Testing this would include removing each of the binaries in turn to see if we now trigger a build error.

What you describe is the implementation, not the test.

In any case, this is not something that's likely to be implemented wrong, as you point out in

[2018-04-24 10:14] #69 closed

[2018-04-26 08:39] ketzacoatl commented on #106
@kerscher how do we get a list of the specific call sites?

For example, the way I read:

[code]

is that a module/env is calling another module, named `subnets`, and is passing it the `public_subnet_cidrs` input param, which the module does not accept. This does not tell us a) which module is being called (we know it's name in the calling env is `subnets`, but we only get to assume the actual mod

[2018-04-26 10:13] NorfairKing opened #117 "A Pull-request template"
@kerscher @ketzacoatl

Here is a starting point;

For new modules/examples or changes
- [ ] Update the [changelog](https://github.com/fpco/terraform-aws-foundation/blob/master/CHANGELOG.md)
- [ ] Make sure that the module is documented
- [ ] Make sure that the module is added to `tests/main.tf`
- [ ] Make sure that the linting passes on CI
- [ ] Make sure that there is a playbook, and that it is u

[2018-04-26 10:29] ketzacoatl commented on #117
@NorfairKing can you clarify what you mean by "playbook", that is not clear in this context.

Also note that much of this info would need to be added to our `CONTRIBUTING.md` doc.

[2018-04-26 10:38] NorfairKing commented on #117
A playbook is an idiot-proof guide to follow to do something. In this case that would be a deployment.
A playbook is a way to prevent improvisation and panic when in a disaster situation, but it's a great way to make sure a certain problem is well-understood before a solution is run as well.

[2018-04-26 10:42] ketzacoatl commented on #117
That is definitely a requirement for `examples` (which are technically modules, but have other wrappers, like a `Makefile` we've written to simplify / clarify the playbook).

On the other hand, the straight up `modules` would need example code for how to use the module, or similar.

Both `examples` and `modules` should have a README that includes a list of specific information. I think we should r

[2018-04-26 10:45] ketzacoatl opened #118 "Create a template README.md for new modules/examples"
Review https://github.com/hashicorp/terraform-aws-vault/blob/master/README.md and similar examples to create a list of sections that should be included in a README for our modules/examples. See also #117 as a motivation for this.

[2018-04-26 10:46] ketzacoatl commented on #117
I've created a separate issue for that topic on the README. This template for PRs could reference that README template to communicate the expectations for documentation.

[2018-04-26 12:39] ketzacoatl commented on #117
We should also update the changelog - https://github.com/fpco/terraform-aws-foundation/blob/master/CHANGELOG.md - I've added a note about this to the ticket description.

[2018-04-26 14:09] lpaulmp opened #120 "Move user_data to dedicated template files"
Move `user_data` inline scripts to dedicated template files.
[code]
template file
[code]

[2018-04-29 18:33] ketzacoatl opened #122 "write basic unit tests for the s3-full-access-policy module"
This issue is targeting a specific unit test for a specific module. The goal is to implement tests that confirm the IAM policies in the module are correct. The module should give a specific IAM role/user/etc full access to the S3 bucket, but no one else has permission to do anything.

See the code in this module: https://github.com/fpco/terraform-aws-foundation/blob/master/modules/s3-full-access-p

[2018-04-29 18:34] ketzacoatl commented on #122
Feedback from @NorfairKing:

To make sure that setting it up works:
- Go through the motions manually:
  - Make sure that we know what the common problems are
    I expect trouble with 'details' such as credentials, authentication, users
    billing, etc
- Go through the motions automatically
- Set this automated system up as part of CI (we'll do this later)
- Periodically check back on it to make

[2018-04-29 18:35] ketzacoatl commented on #122
@mcgirr, please review the module, #47, and the feedback from @NorfairKing, then write up a concise explanation/proposal for how you would implement this, and ping us to review.

[2018-04-29 18:38] mcgirr commented on #122
@ketzacoatl Will do!

[2018-04-29 19:25] NorfairKing commented on #122
@ketzacoatl Something else I just thought of: IAM uses a combination of include-lists and exclude-lists. We need to (manually) review that we use the correct one for each aspects of the permission.
For example, we usually want to use include-lists for permissions, but for `s3-full-access-policy` we probably want an include-list-item to specify "everything in s3" and then an exclude-list to exclude

[2018-04-30 13:45] ketzacoatl opened #123 "update kubespray packer build, parametize docker tag"
This packer build uses ansible and kubespray to build a base image (AMI) for use in a kubernetes cluster. The AMI improves provisioning new clusters and new nodes in existing clusters, and this improves the operator's deployment UX. As this is run on CoreOS, the packer build uses a docker image to provide ansible and kubespray. The current build uses (implicitly) the docker image's `latest` tag, a

[2018-05-01 05:01] mcgirr commented on #122
# (Draft) Proposal 2018 April 30

## Abstract - Generally Stated High Level Goals

- Implement tests that confirm correctness for IAM policies in the [s3-full-access-policy](https://github.com/fpco/terraform-aws-foundation/tree/master/modules/s3-full-access-policy) module.
- Tests should show that the module is giving an IAM role/user full access to an S3 bucket.
- Further, other roles/users shoul

[2018-05-01 05:05] mcgirr commented on #122
@ketzacoatl @NorfairKing This is an initial draft of the proposal. I will be adding more specific details to the methodology section today and tomorrow.

[2018-05-01 07:28] ketzacoatl commented on #113
@lpaulmp as you dig deeper into running tests on CI, add your notes to a new markdown file in `docs`. We can refine and improve the docs iteratively.

[2018-05-01 08:40] NorfairKing commented on #122
That's the _only_ possible way. If you don't use the module under test, you're not testing anything.
Remember: we are testing _our_ code. We are not testing AWS.

For the IAM policies, we want to test that users have the permissions that we _document_ that the module sets up. We are not testing whether AWS implements `*` correctly.

I think this testing effort may warrant haskell code to test it,

[2018-05-02 18:27] mcgirr commented on #122
For step 1 my plan at the moment is to create an example terraform module to go in [terraform-aws-foundation/examples](https://github.com/fpco/terraform-aws-foundation/tree/master/examples) that uses the parts of the [s3-full-access-policy](https://github.com/fpco/terraform-aws-foundation/tree/master/modules/s3-full-access-policy) module that we want to start testing initially
(it seemed like the

[2018-05-03 20:17] lpaulmp commented on #113
@ketzacoatl Just in case I add the plan to  setup CI

[2018-05-07 05:59] ketzacoatl opened #125 "Problematic `count` in `vpc-scenario-1` example"
Problematic `count` in `vpc-scenario-1` example, the env fails to deploy when you have more than one AZ in use. The error is that the AZ of the subnets do not match the instance's stated AZ. See:

https://github.com/fpco/terraform-aws-foundation/blob/v0.7.2/examples/vpc-scenario-1/main.tf#L79
and also https://github.com/fpco/terraform-aws-foundation/blob/v0.7.2/examples/vpc-scenario-1/main.tf#L82.

[2018-05-07 18:43] #125 closed

[2018-05-08 01:02] lpaulmp opened #129 "Fix TFLint output to turn the build green"
[build](https://gitlab.fpcomplete.com/fpco-mirrors/terraform-aws-foundation/builds/5236)

[code]

[2018-05-08 01:12] ketzacoatl commented on #129
This is a duplicate of #107, closing in favor of the original

[2018-05-08 01:12] #129 closed

[2018-05-08 01:19] ketzacoatl commented on #107
The `init-snippet-gitlab-docker` issue is referring to this code https://github.com/fpco/terraform-aws-foundation/blob/v0.7.2/tests/main.tf#L347-L351

Reading up on `tflint` docs on the topic - https://github.com/wata727/tflint/blob/master/docs/terraform_module_pinned_source.md - I am confused.. this should only happen with modules sourced from git/mercurial, and we're not doing that here. The err

[2018-05-08 01:38] lpaulmp commented on #107
@kerscher this could be a bug in the linter because when I did debug this I got became to the same conclusion that no git or hg in use in this module.

[2018-05-10 22:35] ketzacoatl opened #131 "`make plan` fails in `kube-stack-private` with error: `index out of range for list`"
After running `make network` successfully.. we then run `make plan`, and the following error comes up: `index out of range for list`. It's likely this is also an issue in the `vpc-scenario-2` example env.

[code]

@lpaulmp first ran into this, and I've debugged it some.

[2018-05-10 23:36] ketzacoatl opened #132 "`vpc-scenario-2` example has hardcoded AZ"
See https://github.com/fpco/terraform-aws-foundation/blob/v0.7.2/examples/vpc-scenario-2/main.tf#L48 and https://github.com/fpco/terraform-aws-foundation/blob/v0.7.2/examples/vpc-scenario-2/main.tf#L145 as examples. That `3` should be a `length()` on the list of public / private cidrs (which is used elsewhere for the "number of zones" to deploy to.

[2018-05-10 23:38] ketzacoatl opened #133 "`kube-stack-private` example has hardcoded AZ"
See https://github.com/fpco/terraform-aws-foundation/blob/v0.7.2/examples/kube-stack-private/network.tf#L19 and https://github.com/fpco/terraform-aws-foundation/blob/v0.7.2/examples/kube-stack-private/kube.tf#L15 in particular, but look throughout the example for any other occurrences.

[2018-05-11 14:27] #133 closed

[2018-05-11 14:28] ketzacoatl commented on #131
I believe this is resolved, I'll ask @lpaulmp to test in his deployment to confirm if the fix applies over there as well.

[2018-05-11 14:31] ketzacoatl commented on #132
@lpaulmp, please see my commit for #133 - https://github.com/fpco/terraform-aws-foundation/commit/19c50bb82f61d5f0f51beb767e378eb5af1b6acc - and apply the same fix to this env.

[2018-05-14 16:18] kerscher opened #135 "BIND module fails for empty `db_records_folder` parameter"
# Expected behaviour

1. User instantiates `bind-server` and provides empty `db_records_folder`
1. The internal `null_resource` detects the empty parameter and skips copying any folder

# Actual behaviour

1. `"${var.db_records_folder}/"` is interpolated into `/`
1. Calling user sends `/` to `/tmp/db_records`
1. Permission failure to access all files under `/` fails the provisioner
1. Local `/` fi

[2018-05-14 18:38] lpaulmp commented on #132
this PR https://github.com/fpco/terraform-aws-foundation/pull/134 should address this issue

[2018-05-16 06:00] ketzacoatl commented on #132
This is resolved.

[2018-05-16 06:01] ketzacoatl commented on #131
This is resolved.

[2018-05-16 06:01] #131 closed

[2018-05-16 06:34] ketzacoatl commented on #107
The bug is in https://github.com/wata727/tflint/blob/v0.5.4/detector/terraform_module_pinned_source.go#L25-L37, the regex is not smart enough. I filed https://github.com/wata727/tflint/issues/193 with upstream.

[2018-05-16 06:39] ketzacoatl commented on #107
With a few updates, this is closer to being resolved:

[code]

ATM, the only lingering issue is due to the bug with upstream.

[2018-05-16 06:42] #104 closed

[2018-05-16 06:42] ketzacoatl commented on #107
See the latest build at https://gitlab.fpcomplete.com/fpco-mirrors/terraform-aws-foundation/builds/5393.

[2018-05-16 06:45] ketzacoatl commented on #106
I'm pretty sure this passes now, see https://gitlab.fpcomplete.com/fpco-mirrors/terraform-aws-foundation/builds/5395 for example.

[2018-05-16 06:45] #106 closed

[2018-05-16 14:06] ketzacoatl opened #137 "new example: multi-region deployment"
This example env would setup a VPC in each of two regions, and demonstrate a basic cross-region deployment. The same type of webapp deployed for the VPC scenario 2 examples should be used.

[2018-05-16 14:07] ketzacoatl opened #138 "new example: vault"

[2018-05-16 14:09] ketzacoatl commented on #76
I updated a bunch of example env last night, but failed to mention this issue in those commits.. sorry. Roughly speaking, those commits were:

https://github.com/fpco/terraform-aws-foundation/commit/0f3f9f695d230d33f0d79a4e94e9c35b8dd92be7
https://github.com/fpco/terraform-aws-foundation/commit/9b69a201f6eaf44c5ef19b162b02401b419a13b0
https://github.com/fpco/terraform-aws-foundation/commit/ed6559a

[2018-05-16 14:52] kerscher commented on #117
There is one step missing for modules:
- [ ] Make sure module is included in `tests/main.tf`

[2018-05-18 14:49] ketzacoatl commented on #123
This is resolved, great work!

[2018-05-18 14:49] #123 closed

[2018-05-18 14:53] ketzacoatl commented on #107
`tflint` 0.6.0 includes a fix for the issue that blocks this from being resolved, and we've got an updated build image to test here.

[2018-05-18 14:56] #107 closed

[2018-05-18 15:07] kerscher opened #141 "Undeclared variables test fails to start running on CI"
# Expected behaviour

`scripts/ci/undeclared-variables.sh` runs until completion, giving an exit code relevant to the test.

# Actual behaviour
[code]

## Proposed solution

1. Add patched `terraform-index` from [this fork](https://github.com/kerscher/terraform-index/tree/3-provide-type-for-variables) to CI image
2. Correct `tput` errors due to no `$TERM`

[2018-05-18 15:37] kerscher commented on #141
Provisional release for `terraform-index` until upstream merges: https://github.com/kerscher/terraform-index/releases/tag/0.0.3-alpha

[2018-05-20 11:10] ketzacoatl commented on #120
This is a duplicate of #109, closing in favor of the first ticket.

[2018-05-20 11:10] #120 closed

[2018-05-20 11:12] ketzacoatl commented on #95
This should be easy to knock out in the week ahead, cc @mcgirr

[2018-05-20 11:15] ketzacoatl commented on #61
Let's wrap this up in the week ahead.

[2018-05-20 11:15] ketzacoatl commented on #19
This is good to close.

[2018-05-20 11:15] #19 closed

[2018-05-20 11:17] ketzacoatl commented on #117
@NorfairKing, @lpaulmp, or @mcgirr, would you be able to assist with this?

[2018-05-20 15:03] ketzacoatl commented on #108
about 1/3 or 1/2 of the way there..

[2018-05-20 18:11] mcgirr commented on #117
@ketzacoatl Sure! Is this something that would be suitable to put in the [contributing](https://github.com/fpco/terraform-aws-foundation/blob/master/CONTRIBUTING.md) file for the repo?

[2018-05-21 20:18] ketzacoatl opened #144 "setup CI to run tests on S3 full access policy module"
With #122 we have implemented tests on one of our S3 modules. The purpose of this issue is to get those tests hooked up to CI. This requires:

* updating `.gitlab-ci.yml`
* define the `stages`, with linting being the first, and deploying stuff to aws second
* define a job in the aws stage that has a manual trigger - it does not run on its own when a new build is run on gitlab.. an operator would n

[2018-05-22 02:41] NorfairKing commented on #122
It's great to see this happening :D Thanks @mcgirr

[2018-05-24 11:26] ketzacoatl commented on #141
Unless I built it incorrectly, this still fails with the patched fork. I believe #108 is resolved, but I'm unable to run `undeclared-variables` to test.

[2018-05-24 11:27] ketzacoatl commented on #108
This is resolved. All modules have been updated, but I'm unable to run `undeclared-variables`, so I'm going to close this and move on. We can reopen or open a new issue in the future if needed.

[2018-05-24 11:27] #108 closed

[2018-05-25 20:46] mcgirr commented on #95
@ketzacoatl Will the packer build script need to be updated as well after `terraform-vpc` is moved, or is this just going to create a duplicate of the existing terraform code (for `terraform-vpc`) in a new example?

[2018-05-25 21:55] mcgirr commented on #95
The initial example is available on the [move-terraform-vpc branch](https://github.com/fpco/terraform-aws-foundation/tree/move-terraform-vpc/examples/terraform-vpc).

The example does **not** include any build shell script for building AMI's with `packer`. I can add that if that was within the scope of what the example was intended to do.

I also did not remove the [previous](https://github.com/fp

[2018-05-26 01:18] mcgirr commented on #144
I'm currently working on this under the [ci-s3-full-access-policy-module](https://github.com/fpco/terraform-aws-foundation/tree/ci-s3-full-access-policy-module) branch.

The current CI output (still a WIP) is available on the gitlab mirror [pipeline](https://gitlab.fpcomplete.com/fpco-mirrors/terraform-aws-foundation/pipelines) for that branch.

[2018-05-26 04:37] ketzacoatl commented on #95
One copy is preferred. Updating the packer build script to use the new location probably makes the most sense.

[2018-05-26 04:57] mcgirr commented on #95
Sounds good. I will leave the existing packer build script in it's [current](https://github.com/fpco/terraform-aws-foundation/blob/master/packer/ubuntu-trusty/build.sh) location, but it will updated to be using the new location of the terraform configuration in [examples/terraform-vpc](https://github.com/fpco/terraform-aws-foundation/blob/move-terraform-vpc/examples/terraform-vpc/main.tf)

[2018-05-28 00:13] mcgirr commented on #95
@ketzacoatl The build script has been updated in the latest [commit](https://github.com/fpco/terraform-aws-foundation/commit/53d9ba71aa72d491857e536ade60ce17b0de4bdc) to reflect the new location of the terraform configuration.

[2018-05-28 04:40] #95 closed

[2018-06-06 14:47] kerscher opened #151 "SSL termination for `kube-stack`"

[2018-06-06 15:32] kerscher commented on #151
Alternatively, TLS termination has to be done by the cluster internal load balancer deployed with `kubespray`, and this has to be documented at usage site, not on this repository.

[2018-06-07 17:29] kerscher commented on #151
Change is in this commit [here](https://github.com/fpco/terraform-aws-foundation/commit/137b511ddac348ef9853fca73fcfeae5a894b551) on the issue branch.

I would like it to be tested first before merging into `master`, though. Once this is done, a PR can be issued.

[2018-06-07 21:01] ketzacoatl opened #152 "new example: terraform VPC for kops"
Create a new example that demonstrates how to deploy kubernetes with `kops` using our workflow based on Terraform.

[2018-06-08 16:30] kerscher opened #153 "`kube-stack-private` GovCloud example"
## Requirements

- update the existing `kube-stack-private` example
- `kube-stack-private` _should_ support deploying to GovCloud, use a variable to specify one or the other
- may need to update the `kube-stack` module for all of this to work
- run dev on a separate branch until we're happy to merge to master, retain one example env, and support both the corporate and GovCloud partitions in the on

[2018-06-08 17:07] ketzacoatl commented on #153
I've updated the description and dropped the "new example" label to clarify this should be an update to the existing example.

[2018-06-12 13:17] AronT-TLV commented on #61
Suggestions for EBS:
* create and mount the volume using Make commands
* stop gitlab
* rsync the existing /gitlab data to the new volume
* restart gitlab

Run this step before initial setup

[2018-06-12 13:18] AronT-TLV commented on #61
Suggestions for SMTP:
set up SES as an SMTP server.  This gist shows an example that fits into the gitlab-asg framework): https://gist.github.com/borsboom/3bf05c88c53b19645ac76d6a598a4b70

[2018-07-09 13:06] ketzacoatl opened #156 "new example: dynamic, load-based auto-scaling"
"dynamic", "load-based" auto-scaling, changes the number of nodes in an ASG based on the load experienced on the nodes in the cluster. We've done this, and we have example code to work from, but we don't have a nice example that demonstrates how to do this in a basic and clear way.

The purpose of this task is to create a new example env that demonstrates how to setup dynamic, load-based autoscali

[2018-07-17 14:30] ketzacoatl opened #157 "new example: env for vpc-scenario-3 module"
Duplicate https://github.com/fpco/terraform-aws-foundation/tree/master/examples/vpc-scenario-2 to create a new example env for the vpc-scenario-3 module (https://github.com/fpco/terraform-aws-foundation/tree/master/modules/vpc-scenario-3).

### Requirements:

* our standard Makefile w/ targets for working with Terraform
* README with basic step-by-step to create the env and step through the exampl

[2018-07-19 07:07] ketzacoatl opened #158 "update modules to use the AWS partition datasource"
Long, long ago, this didn't exist (at least I don't believe it did..) and we needed a way to deploy to GovCloud, so we put in the `aws_cloud` variable. We now have this wonderful datasource available which will provide that info for us, see https://www.terraform.io/docs/providers/aws/d/partition.html for more info.

[2018-07-19 07:07] ketzacoatl commented on #153
There is a data source for the partition, so I believe we can close this ticket in favor of #158, which ought to resolve this issue as well.

[2018-07-19 07:07] #153 closed

[2018-07-19 08:03] #99 closed

[2018-07-19 08:04] ketzacoatl commented on #99
This is complete!

[2018-07-22 14:12] AronT-TLV commented on #61
@borsboom while the sample code you shared works great, getting rid of the ELB (which is the whole point of the exercise) raises the issue of where to put the SSL certificate. The underlying module is opinionated on this so not easily avoided. Investigating various options.

[2018-07-23 17:02] ketzacoatl opened #160 "review/audit the code and processes in the kube-stack-private example"
This example env has an existing process to deploy/setup the infrastructure. That env should be reviewed and improved.

### Requirements

* Deploy and review the code and processes.
* Document the results of the experience, identify broken steps and map out solutions
* Aim to add new tickets where needed
* Ensure the deploy/setup process is clearly documented as a set of steps an engineer can walk

[2018-07-23 22:23] giancarlocosta opened #161 "elk-stack module Not Deployable"
elasticsearch_internal_alb variable in elk-stack module has two types, 'map' and 'string'. Based on the elasticsearch module I'm pretty sure it should be just map. This is preventing ability to deploy elk-stack.

[2018-07-23 22:41] giancarlocosta opened #162 "elasticsearch module internal elb bug"
`variables.tf` says that for the `internal_alb` variable map, the `arn` has to be set if `internal_alb. deploy_elb` is false. But if `internal_alb.deploy_elb_internal` is true, which it is by default, (and `internal_alb.deploy_elb` is false) then an internal aws_elb is being created:
https://github.com/fpco/terraform-aws-foundation/blob/master/modules/elasticsearch/data-nodes.tf#L142

So why is th

[2018-07-23 23:27] giancarlocosta opened #163 "elk-stack module not working with various versions of terraform"
When trying to deploy elk-stack module with terraform version 0.9.11 and 0.11.7, I get the following errors. (Below example is with 0.9.11 but I get similar for 0.11.7)

terraform0.9.11 plan -out plan.out
10 error(s) occurred:

* module.elk.module.elasticsearch.data.aws_iam_policy_document.data-node-role: "statement": required field is not set
* module.elk.module.elasticsearch.data.aws_iam_policy_

[2018-07-23 23:36] lehins commented on #162
@giancarlocosta It's not a bug, it's a feature ;) Crucial part is recognizing that there is ability to use either an Application Load Balance (ALB) or an Elastic (Classic) Load Balancer (ELB)
Let me try to elaborate on this slightly confusing setup.

Elasticsearch requires a Load Balancer for it's HTTP API on port 9200. It's called internal, since it has no authentication or encryption. There is a

[2018-07-23 23:36] #162 closed

[2018-07-24 01:04] giancarlocosta commented on #162
@lehins Thanks for the follow up. I'm confused because in the variables and logic,
 `internal_alb.deploy_elb` is default false and `internal_alb.deploy_elb_internal` is default true, while you are saying that it is the other way around.

[2018-07-24 11:31] lehins commented on #162
@giancarlocosta I see now what is the source of your confusion.
`internal_alb.deploy_elb` and  `internal_alb.deploy_elb_internal` mean something totally different, see their respective documentation:
https://github.com/fpco/terraform-aws-foundation/blob/1f7c5c6f8f13e2f1428c172b5626b2d9583cb9b6/modules/elasticsearch/variables.tf#L162-L165
* `internal_alb.deploy_elb` - decides if elasticsearch modul

[2018-07-24 11:54] lehins commented on #162
I guess maybe it was just a bad choice of words `internal`/`external` load balancer, and something like `unsecured`/`secured` load balancer would have been better, but at this point I don't think refactoring would be worth the trouble.
cc @ketzacoatl, could be a possible improvement for the future.

[2018-07-24 12:33] ketzacoatl commented on #163
Thanks for the report @giancarlocosta, we'll take a look to review and see if we can reproduce.

[2018-07-24 20:37] ketzacoatl commented on #161
@giancarlocosta can you link to where in the code you are seeing this? Thanks!

[2018-07-24 20:38] giancarlocosta commented on #161
@ketzacoatl https://github.com/fpco/terraform-aws-foundation/blob/master/modules/elk-stack/variables.tf#L117

[2018-08-03 14:55] ketzacoatl opened #166 "refactor ASG in `gitlab-ha` example, use scalable EC2 config"
The `gitlab-ha` example comes from #62, we will simply add EFS/RDS/EC to that env. In this ticket we refactor the EC2 setup / configuration so we can run multiple EC2 instances safely.

[2018-08-03 16:14] ketzacoatl commented on #62
We have `gitlab-asg` renamed to `gitlab-simple-ha` and a duplicate made for this ticket as `gitlab-ha`

[2018-08-03 18:15] #61 closed

[2018-08-03 18:16] ketzacoatl commented on #61
ELB swapped for EIP. Gitlab now also supports Let's Encrypt, so dropped TLS in the process. This is good to resolve, new tickets will be created for additional tasks.

[2018-08-05 14:29] AronT-TLV opened #169 "replace self-signed certificate in `gitlab-ha` with AWS certificate from Certificat Manager"
AWS provides facility for easily adding a signed certificate to an ELB. This is easier, cleaner solution than the current procedure. Moreover it attaches a certificate all browsers will accept without forcing them to.

[2018-08-08 12:37] lpaulmp opened #171 "Add NAT Gateway and a ASG in the example `vpc-scenario-3` to complete the scenario"
This items are part of the public Nat gateway that should added:
 - [ ] Instances in the public subnet with Elastic IP addresses, which are public IPv4 addresses that enable them to be reached from the Internet.
- [ ] A Public subnet spanning one or more availability zones with a public gateway that assign a public ip to extend the network into the cloud and associates with a route table that has

[2018-08-08 23:36] neilmayhew commented on #160
## My observations:

1. The generated ssh key isn't used
    - `~/.ssh/id_rsa.pub` is used in `variables.tf`

2. I don't particularly like polluting my global ssh config with temporary stuff
    - Have to remember to take it out afterwards
    - I may have other hosts in `10.10.0.0/16`
    - I may have other hosts called `bastion`

3. Can put config in local `ssh_config`
    - Add ` -F ssh_config`

[2018-08-08 23:38] #160 closed

[2018-08-17 13:08] #161 closed

[2018-08-22 02:47] #100 closed

[2018-08-23 22:18] ketzacoatl commented on #158
Wow, that was a lot to update, thanks for that!

[2018-08-23 22:18] #158 closed

[2018-08-26 19:55] #156 closed

[2018-09-20 18:12] ketzacoatl opened #178 "correct module paths and references within the repo"
`tf-modules` is just a symlink, update to `modules` everywhere.

[2018-09-20 19:17] #178 closed

[2018-11-02 12:21] ramesh44557 opened #181 "aws iam policy"
hi,
    requirement is i need to give policy to iam user that he has to access s3 fully only in mumbai

[2018-11-02 13:48] ketzacoatl commented on #181
Hi @ramesh44557,

Thanks for stopping by and dropping us a line. You will need to be more specific, as I'm not sure what you are trying to do, what the problem is, or how I could help. Can you clarify your issue?

[2018-11-13 10:57] bugok opened #182 "Documenting cross account modules usage"
There are several modules which deal with defining AWS cross account resources:
- [cross-account-assume-role-policy](https://github.com/fpco/terraform-aws-foundation/tree/v0.7.6/modules/cross-account-assume-role-policy)
- [cross-account-group](https://github.com/fpco/terraform-aws-foundation/tree/v0.7.6/modules/cross-account-group)
- [cross-account-role](https://github.com/fpco/terraform-aws-found

[2018-11-13 12:48] ketzacoatl commented on #182
Hi @bugok, thanks for the issue. You are right that the IAM modules don't have enough documentation. In the meantime, this ought to help: https://github.com/fpco/terraform-aws-foundation/tree/master/modules/setup-meta-infrastructure

[2018-11-14 08:36] bugok commented on #182
Not sure if I should open anther issue about this or not, so trying to reduce the noise by using this one:

Looking at the [cross-account-group](https://github.com/fpco/terraform-aws-foundation/blob/master/modules/cross-account-group/main.tf) module, there's a reference to MFA. I don't see anything related specifically to MFA there, and I *think* that the `mfa_policy_arn` variable could be renamed

[2018-11-15 14:37] ketzacoatl commented on #182
What are your thoughts on this @borsboom?

[2018-11-17 01:31] borsboom commented on #182
The history here is that we typically give every group that has human users a policy that lets users set their own password as long as they're authenticated with MFA, and that's where this variable is used.  You're totally right, though, that it's really much more general and could be used to attach any policy to the group.  One could also argue that such a group might not need any extra policies

[2018-12-17 10:32] #152 closed

[2019-01-30 00:38] lpaulmp opened #185 "Fix interpolation for template provider version 2.0.0"
Fix interpolation for template version 2.0.0 according the last [changelog](https://github.com/terraform-providers/terraform-provider-template/blob/master/CHANGELOG.md#200-january-14-2019)

### Requirements
- Fix the interpolation for modules that have the double dollar sign
- Pin version of template provider for those modules

[2019-02-28 16:26] ketzacoatl commented on #182
I'd agree with those updates you've proposed @borsboom, and I imagine we could make an example env that better demonstrates how to use the modules together in an env.

[2019-02-28 16:31] ketzacoatl commented on #181
Without additional info, I'll need to close the ticket. Let us know if we can make an update that would improve your experience, thanks for your interest in the project!

[2019-02-28 16:31] #181 closed

[2019-02-28 16:36] ketzacoatl commented on #151
@aniketd can you review this issue and the related updates to confirm if we have already added support for this into `kube-stack`, or if this update is still relevant. Thanks!

[2019-02-28 16:48] ketzacoatl commented on #135
I believe these changes have been merged, though we haven't seen them run recently. I am going to close the issue as complete and open new tickets in the future if there are still issues here.

[2019-02-28 16:48] #135 closed

[2019-02-28 16:49] ketzacoatl commented on #157
This is complete and good to close!

[2019-02-28 16:49] #157 closed

[2019-03-07 19:18] ketzacoatl opened #188 "new example: demonstrate basic ASG integration with Lifecycle Hooks"
Autoscaling Groups can be setup with one or more Lifecycle hooks, which can then be used to take specific actions as EC2 instances pass through the various states of their "lifecycle". In essence, lifecycle hooks put EC2 instances in a "paused/pending" state before going into service, and before terminating. However, implementing the full picture requires linking together several components, and t

[2019-03-07 19:18] ketzacoatl commented on #188
Sending to @psibi for review.

[2019-03-13 16:28] ketzacoatl opened #190 "resolve warnings in `setup-meta-infrastructure` module"
[code]

[2019-03-14 21:38] lpaulmp opened #191 "Add ubuntu 18.04 LTS Bionic in the list of ubuntu release"
Add Ubuntu 18.04 the last LTS in the list of Ubuntu releases to choose.

[2019-03-17 23:07] #191 closed

[2019-03-19 18:58] ketzacoatl opened #193 "add backups to gitlab example"
Our existing gitlab example doesn't demonstrate how to include backups (to S3). We should include this as that is expected for production and a requirement for any use of this setup in real-world scenarios.

### Requirements

* update the gitlab example to include the configuration and resources needed to send gitlab backups to S3
* review the methods available and propose a way before actually im

[2019-03-21 04:12] raghavanr opened #194 "Tagging ASG instances with Interpolation"
Hi,

Is there anyway we can tag instances which are being created by ASG in a sequential way like web-instance001, web-instance002, web-instance003 etc. Currently only tags associated with ASG are inherited.

any help is appreciated.

[2019-03-21 04:24] ketzacoatl commented on #194
Hi @raghavanr,

I don't know of an easy way to do so, and it really should not matter, as there are other ways to meet the same end goals. More importantly, it's actually problematic to do that in an ASG. What is the purpose of sequential numbering for the ASG? What happens when you remove a few nodes and create new ones? What numbers do the new nodes get?

What I would recommend instead, is to us

[2019-03-21 20:31] ketzacoatl commented on #194
I'm going to close this for now, but feel free to re-open it if you have additional questions.

[2019-03-21 20:31] #194 closed

[2019-05-15 04:17] ketzacoatl opened #195 "new module: autoscaling-policy-metric-alarm-pair"
#156 created a new example that demonstates how to use AWS autoscaling policies and metric alarms to scale an ASG up and down based on the average CPU and memory load across the cluster. That example is great, but did not get into making a module out of the key resources for dynamic, load-based, auto scaling.

## Requirements

The purpose of this ticket is to create a module that would be re-used

[2019-05-17 01:59] lpaulmp opened #196 "Create module to enable Data Lifecycle Manager to take snapshots of a EBS"
The Data Lifecycle Manager policy creates snapshots of an EBS that later could be used as backups or to restore data for testing.

# Requirements
- Create a module with AWS Data Lifecycle Manager
- Parametrize the configs

[2019-06-13 05:07] spstratis opened #198 "Questions regarding dns-server module."
Hi, I'm using the bind-server module to generate a pair of dns servers in my VPC (GovCloud specifically). I'm running into a problem but don't believe it's an actual issue with the module itself but mores so my understanding of how to use it.

In the CLI logs the issue starts right around this point in the process
[code]

The time elapsed gets to about 6mins and then finally fails with the followi

[2019-06-13 05:17] ketzacoatl commented on #198
Hello @spstratis,

Thanks for reaching out. IIRC, the module provisions the EC2 instances over SSH, so when you run terraform plan/apply/etc, you'll need to have network access to those instances.

Why do you believe the way you are referencing the db records is incorrect? Have you reviewed the example in our repo?

[2019-06-13 05:32] spstratis commented on #198
Thanks for the quick response @ketzacoatl .  You're correct in that it does connect over SSH, and the script successfully connects to the resource when it's building out the actual instance. I can confirm this because I can see the log statements from this part of the module running

[code]
The issue seems to be occuring when it's trying to run the null_resource, which is where it's setting up the

[2019-06-13 05:35] spstratis commented on #198
Sorry if there is an example of using the module, I haven't been able to find one when searching through the repo.

[2019-06-19 11:36] ketzacoatl commented on #198
The examples I was referring to are in https://github.com/fpco/terraform-aws-foundation/tree/master/examples, but I don't see one for this module. While I've used the module in GovCloud a bunch, I didn't write the original module and I haven't needed to run updates to it in the last year or so. What version of Terraform are you using? It's possible that there are updates required for `0.12.x`, tho

[2019-06-19 11:46] ketzacoatl commented on #102
We have been using our own version of the ELK stack (without ElasticSearch) for a bit now, and while we may deploy ElasticSearch again in the future, this isn't relevant right now.

[2019-06-19 11:48] ketzacoatl commented on #163
Unfortunately, we haven't been able to work on this. ATM the ELK modules have not been updated in a while and are probably not working with the latest Terraform. Feel free to update them if that is relevant to you.

[2019-06-19 11:48] #163 closed

[2019-06-19 11:56] #188 closed

[2019-06-19 11:56] #109 closed

[2019-06-19 12:03] ketzacoatl opened #199 "Test modules and examples with Terraform 0.12.x"
We haven't yet used Terraform 0.12.x on the repository, and there are likely to be 0.12.x-specific updates we need to review and make. We do not need to maintain compatibility with 0.11.x, we can say version X of the modules supports 0.11.x while the new releases do not.

## Requirements

* Use the latest stable release of Terraform 0.12.x
* This could take for ever if we wanted to review everythi

[2019-06-19 14:33] Magicloud commented on #199
- bind-server/
[code]
- consul-agent-generic-init/
[code]
- consul-demo-server/
[code]
- consul-leaders-generic-init/
[code]
- cross-account-role/

- dnsmasq-server/
[code]
- ec2-auto-recover-instances/
[code]
- ec2-nat-instances/
[code]
- elasticsearch/
[code]
- elk-stack/
[code]
- ha-management-cluster/
[code]
- init-snippet-attach-ebs-volume/
[code]
- init-snippet-config-consul-leader/
[code]
-

[2019-06-19 14:45] aniketd commented on #151
Checked and confirmed that this is true and relevant. Quoting from https://github.com/kubernetes-sigs/kubespray/blob/master/docs/ha-mode.md

[2019-06-19 21:13] mcgirr commented on #117
I've opened https://github.com/fpco/terraform-aws-foundation/pull/201 to address this.

[2019-06-19 21:40] #117 closed

[2019-06-19 21:42] ketzacoatl commented on #101
This has been completed in @mcgirr's PR!

[2019-06-19 21:42] #101 closed

[2019-06-21 06:24] Magicloud commented on #199
terraform 0.11.14 provides 0.12checklist command to verify the configurations. But from my understanding of https://www.terraform.io/upgrade-guides/0-12.html, there are also behavior changes besides syntax changes.

I am working on making modules pass checklist first.

[2019-06-21 06:37] Magicloud commented on #199
ebs-snapshot-iam/
After analyzing this configuration and working directory, we have identified some necessary steps that we recommend you take before upgrading to Terraform v0.12:

- [ ] Terraform couldn't reach the Terraform Registry (at `registry.terraform.io`) to determine whether current provider plugins are v0.12-compatible.

  In general, we recommend upgrading to the latest version of each

[2019-06-21 07:57] Magicloud commented on #199
nexus-asg/

Error: module "snasg": "name" is not a valid argument

Error: module "snasg": "key_file" is not a valid argument

Error: module "snasg": "az" is not a valid argument

Error: module "snasg": missing required argument "name_prefix"

[2019-06-21 09:53] Magicloud commented on #199
- elasticsearch/
[code]
- elk-stack/ (uses elasticsearch which is broken)
[code]
- logstash/
[code]

[2019-06-22 12:03] ketzacoatl commented on #199
I'm not sure if you have a WIP local branch for this, but I am using `terraform 0.12upgrade` in a for loop with `terraform init` to run thru each module and example and run this upgrade. So far, this has worked well in practice, to get a bunch of the code auto-updated. I'll push a branch with Terraform's changes to the modules and examples, which we can then run more tests on to find the specific

[2019-06-22 12:06] Magicloud commented on #199
Yes, I have. `0.12upgrade` could not solve all the issues. Many manual works have to be done. And I am on it.

[2019-06-22 12:06] ketzacoatl commented on #199
Here is the loop I am running:

[code]
where `.terraform` has the `plugins` after `terraform init` for a module with `aws`, `template`, and `local` providers (so there is no need to download those), and `providers.tf` has an entry for the `aws` provider (to set the `region`).

[2019-06-22 12:08] ketzacoatl commented on #199
Have you run the `0.12upgrade` in all or some modules? If you could push that branch, it would be helpful, as I could then use it for some of the R&D I'm doing in parallel (I mostly using VPC examples w/ ASG).

[2019-06-22 12:09] Magicloud commented on #199
Sure. A minute.

[2019-06-22 12:27] ketzacoatl commented on #199
Great, that's perfect, thanks!

[2019-06-22 12:28] Magicloud commented on #199
What would the "count" be here?

modules/vpc-scenario-3/main.tf
`98:       "Name" = "${var.name_prefix}-private-vpn-${format("%02d", count.index)}"`
The "count" object can be used only in "resource" and "data" blocks, and only
when the "count" argument is set.

[2019-06-22 13:41] Magicloud commented on #199
[code]
[code]
[code]
[code]
[code]
[code]

[2019-06-22 14:04] ketzacoatl commented on #199
Can you refer to the code in the repo by URL? I need to see the larger context.

[2019-06-22 14:05] Magicloud commented on #199
You mean the error message? No worries. I am just making a log. Fixing on the way.

[2019-06-22 14:36] ketzacoatl commented on #199
There was a separate comment I was referring to, sorry, I thought you were asking a question.

[2019-06-22 14:53] Magicloud commented on #199
I see what you meant. The count usage. Also listed in https://github.com/fpco/terraform-aws-foundation/issues/199#issuecomment-504666750. I look through the code and fixed. But I do need a review on that. I am validating. Later will push the branch.

[2019-06-22 15:06] Magicloud commented on #199
Pushed changes in modules.

[2019-06-26 05:22] Magicloud commented on #199
**High priority reviews**
- [ ] vpc-scenario-2
- [ ] ami-ubuntu
- [ ] security-group-base
- [ ] single-port-sg
- [ ] open-egress-sg
- [ ] asg

[2019-06-26 08:41] Magicloud commented on #199
Running `terraform plan` pops more errors for examples/.

[2019-06-26 14:24] Magicloud commented on #199
Cannot `plan` _vpc-scenario-2_.
[code]

[2019-06-26 15:50] Magicloud commented on #199
A confusing part of **init-snippet-gitlab-docker**.
https://github.com/fpco/terraform-aws-foundation
[code]

[2019-06-28 14:47] Magicloud commented on #199
@ketzacoatl Please help review and test the count change. It is a change I am not certian of.
https://github.com/fpco/terraform-aws-foundation/commit/83639dbbd0e950c6b51da5e808874c9dbd8b7ded

[2019-06-29 03:54] ketzacoatl commented on #199
On the surface, yea, that looks right.

[2019-06-29 07:24] Magicloud commented on #199
Since terraform may mistake an unclearified type. I am putting types to all variables. Following are the files I need to work.

./asg-lifecycle/variables.tf
./cluster-network/variables.tf
./consul-agent-generic-init/variables.tf
./consul-agent-sg/main.tf
./consul-cluster/variables.tf
./consul-demo-server/variables.tf
./consul-leader-sg/main.tf
./consul-leader-wan-sg/main.tf
./consul-leaders-generi

[2019-07-01 13:03] ketzacoatl commented on #199
@Magicloud what do you recommend as our next steps? How much validation should we do before merging?

[2019-07-01 13:08] Magicloud commented on #199
I won't recommending merging soon. But I am OK to let other people know this branch and give it a try.

On the other hand, I suggest to open another project as to add unit test of each module. At least get them pass `plan` with no human interfere. So we can use CI to verify changes in the future.

[2019-07-01 20:50] ketzacoatl commented on #199
`vpc-scenario-2` deployed cleanly for me. I will test a few other env out as well.

[2019-07-05 19:04] ketzacoatl opened #204 "Add DLM module to single-node-asg"
The `single-node-asg` pattern uses/includes an EBS volume. It makes sense to include the DLM resources (Data Lifecycle Management) to auto-manage backups and snapshot/retention for the volume.

## Requirements

* Update the `single-node-asg` module to include the new DLM module coming in #197.

[2019-07-05 20:37] ketzacoatl opened #205 "add support for EIP to single-node-asg module"
ATM the Single-Node ASG module includes support for an EBS volume that is associated with the ASG. Another use-case we run into is attaching an Elastic IP (EIP). Similar to the EBS volume, this is easy to attach to a single EC2 instance, but Terraform cannot do that for an EC2 instance that does not exist yet (eg when the EC2 instance is created by an ASG). We solve this in the same way as with th

[2019-07-08 07:10] Magicloud commented on #205
For this case, is aws_eip enough, or aws_eip_association is necessary? Quoting the note from Terraform doc.

[2019-07-08 11:02] ketzacoatl commented on #205
That is a great question @Magicloud. I hope this helps to explain:

Terraform is used to create the EIP resource itself. With an ASG, Terraform creates the LC and ASG, but AWS creates the EC2 instances, so Terraform cannot associate/attach the EIP to an EC2 instance created by AWS ASG. That EIP created by Terraform is then floating and not attached to an EC2 instance, but in this design, we have a

[2019-07-08 11:14] ketzacoatl commented on #198
@spstratis,

In the blog post, there is this section:

[code]
This is simply rendering a directory of templates and writing each out to a new directory with the rendered text.

Unless I'm mistaken, you would want to do something similar, or point the module at a directory with your files for the records.

But either way, I'm not sure how that addresses your problem as that appears to be either a n

[2019-07-08 14:58] Magicloud commented on #205
Thanks. So the EIP is pre-existing (by Terraform).

[2019-07-08 17:00] ketzacoatl commented on #205
Yes, you want to use `aws_eip` and not the `_association` resource. During EC2 init, use `aws` tools to associate the EIP with the EC2 instance.

[2019-07-09 12:10] Magicloud commented on #199
Assign back to @ketzacoatl to allocate testing resource.

[2019-07-09 16:53] ketzacoatl commented on #199
@AronT-TLV please be vocal in here when you choose an example, so other engineers running tests can choose other examples to test and distribute our work. I'll add a list to the description of the PR.

[2019-07-09 17:28] ketzacoatl opened #207 "improvements to s3-remote-state module"
See for reference - https://github.com/fpco/terraform-aws-foundation/blob/0d3d60f6989ad74149b5957150e83e915128ddd7/modules/s3-remote-state/main.tf

One thing to make more clear: this module is a little confusing, but it's mostly advanced IAM features doing that. Here's another way of saying it:

### Requirements

* [ ] There are 3 pairs of IAM data sources and resources, move each to their own mod

[2019-07-09 17:33] ketzacoatl commented on #199
To the ticket description, I've added a checklist with the list of examples, and I've checked off the examples I tested last week.

[2019-07-12 06:29] Magicloud commented on #205
I did something like attaching the EBS. But found that whether or not I want to associate the EIP, the instance has an Internet IP any way. Working on figuring out where is the problem.

[2019-07-12 17:15] ketzacoatl commented on #198
Feel free to re-open if you have more questions or we can assist.

[2019-07-12 17:15] #198 closed

[2019-07-12 17:39] ketzacoatl commented on #205
@Magicloud, also make sure the ASG does not have a public IP, there is a module variable for that.

[2019-07-12 17:44] ketzacoatl commented on #4
This exists - https://github.com/fpco/terraform-aws-foundation/tree/master/examples/terraform-vpc - but ought to be renamed and the docs could better describe why we remove the default VPC and use this instead.

[2019-07-13 07:57] Magicloud commented on #205
To confirm, you meant another requirement, right? Right now single-node-asg creates ASG with the option on to assign each instance a public IP.

[2019-07-15 07:35] Magicloud commented on #185
Assign to myself. This is blocking some other modules from being verified.

[2019-07-15 07:38] Magicloud commented on #185
What to do, since our template normally is shell-compatible script:
- all variables passed from terraform in form `${tf_var}`
- all variables assigned and used within the script in form `$${sh_var}`
- all command substitution in form `$(cmd)`

[2019-07-15 10:37] Magicloud commented on #185
Branch template_fix.11 contains my modification. Working on validation.

[2019-07-15 15:03] Magicloud commented on #185
@ketzacoatl for opinion.

[2019-07-15 20:13] ketzacoatl opened #212 "add resources for generic, load-based, dynamic autoscaling to the existing `asg` module"
Our existing `asg` module is a LC/ASG pair. After this update, the `asg` module would also include a set of resources to scale up/down the ASG. These resources are optional, and will be parametized.

## Requirements

* Add the resources using the examples provided (in our other chat).
* Use `count` to make them optional, and default to disabled.
* Parametize the critical CPU/scaling parameters (do

[2019-07-15 20:25] ketzacoatl commented on #185
I'd like to keep the updates to the nexus example separate from the updates for the template provider, but it otherwise LGTM!

[2019-07-16 07:30] Magicloud commented on #185
@ketzacoatl Reverted change in nexus example.

[2019-07-16 11:38] Magicloud commented on #205
Associating address via awscli gives me UnauthorizedOperation.

[2019-07-16 11:53] Magicloud commented on #205
One more thing to change, I guess, subnets module, need to pass false to its public attribute.

And, have not figured this out, passing false to associate_public_ip_address of aws_launch_configuration does not set the launch conf in AWS to not associate, but default (Only assign a public IP address to instances launched in the default VPC and subnet).

Still digging.

[2019-07-16 15:54] ketzacoatl commented on #34
This is especially an issue in the `persistent-ebs` module. In reviewing with @Magicloud, we outlined the following changes:

1) we want the `persistent-ebs` module to create the IAM policy it needs (but not the other IAM resources, we need to move those)
2) we want a new module for the IAM instance profile (moved resources from `persistent-ebs` module), and made generic
3) we want to use that new

[2019-07-16 15:56] ketzacoatl commented on #48
In reviewing with @Magicloud, we outlined the following changes as well:

1) we want the `persistent-ebs` module to create the IAM policy it needs (but not the other IAM resources, we need to move those)
2) we want a new module for the IAM instance profile (moved resources from `persistent-ebs` module), and made generic
3) we want to use that new module in the `single-node-asg` module, passing it

[2019-07-16 16:00] ketzacoatl commented on #34
EDIT: I meant to put the last comment in #48, not this ticket, sorry for the noise.

[2019-07-17 19:48] ketzacoatl opened #214 "new module: bastion-host"
Create a new module that provides an easy and reliable workflow for the bastion use case.

## Requirements

* It's safe to assume we would limit to 1 bastion host / public subnet.
* Use an ASG so we can easily terminate and recreate, or scale down, the instance.
* Can use the `single-node-asg` module (no data persistence is necessary, but EIP is).
* Default to `t2.nano` for instance type but defin

[2019-07-17 23:07] #185 closed

[2019-07-18 00:44] ketzacoatl commented on #214
Here is some example code to start with - https://github.com/fpco/terraform-aws-foundation/blob/master/examples/vpc-scenario-2/bastion.tf

[2019-07-18 03:59] ketzacoatl opened #218 "new module: ami-centos"
Similar to the existing `ami-ubuntu` module, we could use a `ami-centos` variant.

## Requirements

* Review source accounts, choose an upstream carefully (the Ubuntu variant uses Canonical).
* Parametize with focus on the OS release/version, keeping it simple.

[2019-07-18 06:45] qrilka commented on #218
@Magicloud that's what I have used in my tests:
[code]

[2019-07-18 08:43] Magicloud commented on #218
@qrilka Thanks.

@ketzacoatl This may not be "even simpler". We have some hardcoded APT usage (150 by simple grep) since we were binding to Ubuntu. This may be a requirement needs to be clearified. Is this a sole module, or others using ami-ubuntu should adapt this?

[2019-07-18 12:35] Magicloud commented on #218
Please checkout centos.11 branch for module and unit test. If "no" is the answer to above question, then I will refine it for pull-request.

[2019-07-18 12:42] Magicloud commented on #218
By the way, pipeline fails due to iam-group module. Seems like it is using 0.12 syntax.

[2019-07-19 14:24] psibi commented on #190
This seems to be fixed by @Magicloud in 0.12 branch in this commit: 45788f0dc12a21248e0e7afa17b93d9e97288624

[2019-07-19 16:00] psibi commented on #34
Different IAM modules present (which may need to be updated):

* [ ] cloudwatch-exporter-iam
* [ ] ebs-snapshot-iam
* [ ] external-dns-iam
* [ ] iam-group
* [ ] iam-users
* [ ] kube-controller-iam
* [ ] kube-worker-iam
* [ ] scale-asg-iam-policy

[2019-07-20 06:37] Magicloud commented on #195
The change was done. But the testing described in readme, did not work straight. Working on that.

[2019-07-20 07:23] Magicloud opened #222 "render-ssh-config could not run for examples/load-asg"
In server-ip.sh, it filters the instance by "tag:Name". But the "server_name" output from `terraform` is actually "tag:aws:autoscaling:groupName". Hence the `describe-instances` returns nothing.

[2019-07-20 07:54] Magicloud commented on #195
Found issue #222 and fixed.

[2019-07-20 12:06] Magicloud commented on #48
I have made the change but having a question. There are 3 attributes exported but not used any where, do we still need them?

- asg_iam_profile_arn
- asg_iam_role_arn
- asg_iam_role_name

[2019-07-20 12:53] ketzacoatl commented on #222
This has been fixed in 6f29f8b.

[2019-07-20 12:53] #222 closed

[2019-07-20 12:55] ketzacoatl commented on #218
This was resolved in https://github.com/fpco/terraform-aws-foundation/pull/221. The v.12 modules have also been excluded from tests on `master`, where we're still using v0.11.x

[2019-07-20 12:55] #218 closed

[2019-07-22 10:17] Magicloud commented on #48
After the PR, I think this is harder than expected.

Consider the case: the instance needs both attach_ebs and associate_eip permissions. They are defined in two modules using the module we make here, hence there are two profile ids. But aws_instance takes one.

I have not figured out a way to merge profiles or policy documents. So I think the abstract level might need to be lower, taking actions/

[2019-07-22 14:01] Magicloud commented on #48
Quote from @ketzacoatl :

[2019-07-23 04:19] #190 closed

[2019-07-23 04:20] ketzacoatl commented on #190
Support for v0.12 has been merged to master and released as `v0.9.0`

[2019-07-23 04:25] #199 closed

[2019-07-23 04:25] ketzacoatl commented on #199
The branch has been merged and `v0.9.0` has been released.

[2019-07-23 13:24] #195 closed

[2019-07-24 07:04] Magicloud commented on #205
After my testing, it is as expected, without public network accessing, aws cannot attach EBS or associate EIP.

So we cannot do "ASG does not have a public IP". At least a NAT for the whole group.

[2019-07-24 07:40] Magicloud commented on #212
Seems like I just need move the calling to autoscaling-policy-metric-alarm-pair in load-asg example to asg module.

[2019-07-24 08:59] Magicloud commented on #212
My design is kind hard to implement. If I give `asg` module a switch to turn on/off the autoscaling, and use count trick in the autoscaling module, it won't work because module [does not support]( https://github.com/hashicorp/terraform/issues/953) count yet.

Maybe we should merge the `autoscaling-policy-metric-alarm-pair` module into `asg` module?

[2019-07-24 10:05] Magicloud commented on #212
Thinking about it, it is reasonable to combine the two modules, since the policy is meaningless without a group. But for user wants different metric, the builtin policy would be a burden, not too much.

[2019-08-04 15:50] #48 closed

[2019-08-22 08:11] devgnx opened #241 "Missing ASG IAM output variables on Gitlab example"
## Missing ASG IAM output variables on Gitlab example

### Steps to reproduce
[code]

### Version

Terraform v0.12.2
Terraform AWS Foundation `master`, `v0.9.3`

[2019-08-23 10:20] Magicloud opened #242 "availability zones of asg module should be removed."
After upgrading to terraform 0.12, it happened to me that code using asg module cannot be applied sometimes, with "inconsistent plan" error. After trying the fix of following issue, it seemed working fine.

https://github.com/terraform-providers/terraform-provider-aws/issues/9622

[2019-08-23 14:45] Magicloud commented on #242
@ketzacoatl Please review the reference issue and the purposal before I submit PR.

[2019-08-29 18:18] ketzacoatl commented on #242
Yep, that LGTM. Maybe you can have @JoseD92 make the updates?

[2019-08-29 18:20] ketzacoatl commented on #241
Thanks for the ticket, we'll take a look.

[2019-08-31 09:59] Magicloud opened #245 "Support EBS in ASG module."
For instances in ASG that require storage other than `root`, terraform aws provider supports `ebs_block_device`. But `asg` module does not yet.

Ref: https://www.terraform.io/docs/providers/aws/r/launch_configuration.html#ebs_block_device

[2019-09-04 06:42] JoseD92 commented on #241
I looked into this problem, with terraform 0.12.7 I got errors:

After looking around I fount out that this two commits are at fault:

1. https://github.com/fpco/terraform-aws-foundation/commit/76305263bd7bf0a77d2f0fa7931db37ae5b3ff63 many variables were renamed and moved, and an output was left with the value aws_iam_role_policy.attach_ebs.policy that does not exists
2. https://github.com/fpco/te

[2019-09-04 07:19] ketzacoatl commented on #241
@devgnx The branch to test is `241-Missing-ASG-IAM-output-variables`.

[2019-09-04 13:48] devgnx commented on #241
Hi @JoseD92 and @ketzacoatl, thank you for the quick response, I'll test the branch `241-Missing-ASG-IAM-output-variables` as soon as possible.

[2019-09-04 21:51] JoseD92 commented on #242
@Magicloud I was able to reproduce the "inconsistent plan" error, and deleting the availability zones from the asg module does solve the issue, but as stated in the docs for aws_autoscaling_group, availability zones is Required only for EC2-Classic, the asg module would become useless if working with EC2-Classic, I am not sure if that is a use case for terraform-aws-foundation or not, but in the c

[2019-09-05 13:50] ketzacoatl commented on #242
Great review and comment @joseD92! I think it's ok for us to skip out on support for EC2 classic at this point. We should only see non-classic EC2 from now on.

[2019-09-05 15:21] ketzacoatl opened #246 "rename s3-full-access-policy module"
As @qrilka pointed out, the module name doesn't match our intention to include `iam` in the name of a module that is primarily focused on some IAM resources or pattern.

## Requirements

* [ ] rename the module path
* [ ] add a symlink from the old path to the new path

[2019-09-06 02:24] JoseD92 commented on #242
I add a MR with the fix

[2019-09-13 13:14] qrilka opened #248 "Changelog seem not to be up-to-date"
Release 0.9.4 is out already but the latest released version in CHANGELOG.md is 0.9.3

[2019-09-22 16:42] devgnx commented on #241
Variables are now bound, but there still some issues, maybe worth a new Github Issue but for now I will post here:

S3 bucket policy is timing out while waiting for `s3-full-access` become `success`.
Maybe is related to:
https://github.com/terraform-providers/terraform-provider-aws/issues/9414
https://github.com/terraform-providers/terraform-provider-aws/issues/9435

Steps to reproduce

ᐅ cd ./exa

[2019-10-02 17:26] ketzacoatl commented on #248
@JoseD92 maybe you would be able to update that doc to sync?

[2019-10-02 18:40] bitemyapp commented on #245
This might be fixed by #249

@qrilka Can you confirm?

[2019-10-02 22:20] Magicloud opened #257 "Something missed in 0.9.4"
- single-node-asg
  output **asg_iam_role_name** is used outside the repo. Now it is removed.

- persistent-ebs
  output **iam_profile_policy_document** is referencing non-exist resource `aws_iam_role_policy.attach_ebs`.

[2019-10-03 04:27] ketzacoatl commented on #257
Please address these in separate commits (or PR), TY.

[2019-10-03 04:29] ketzacoatl opened #258 "parametize minimum_password_length in IAM setup module"
This here ought to be a variable with a default to 12: https://github.com/fpco/terraform-aws-foundation/blob/master/modules/setup-meta-infrastructure/password-policy.tf#L7

Consider parametizing other attributes where that makes sense, but this minimum password length is required.

[2019-10-03 06:18] qrilka commented on #245
Yes, exactly, see https://github.com/fpco/terraform-aws-foundation/pull/249/files#diff-673c119ce48fb7e8788412a6ccdcdb58R98

[2019-10-03 06:24] psibi commented on #258
PR raised here: https://github.com/fpco/terraform-aws-foundation/pull/259

[2019-10-03 14:09] Magicloud opened #260 "examples/gitlab-simple-ha is not apply-able."
[code]

[2019-10-04 13:17] #257 closed

[2019-10-10 16:47] Magicloud opened #265 "credstash-grant-reader could not be planned with empty(default) context_keys and context_values"
Checking out the code, this line looks weird to me. https://github.com/fpco/terraform-aws-foundation/blob/d15768b3499638bba76c878e83659faa71741876/modules/credstash-grant-reader/main.tf#L54

Seems like I must pass one and only one key/value pair for each role. Wondering if this code was not as it supposed to be.

[2019-10-15 16:29] devgnx opened #267 "S3 bucket policy is timing out while waiting for "s3-full-access" become "success""
S3 bucket policy is timing out while waiting for `s3-full-access` become `success`.
Maybe is related to:
https://github.com/terraform-providers/terraform-provider-aws/issues/9414
https://github.com/terraform-providers/terraform-provider-aws/issues/9435

### Steps to reproduce

ᐅ cd ./examples/gitlab-simple-ha
ᐅ make generate-ssh-key
ᐅ make render-tfvars
ᐅ make network
ᐅ make plan
ᐅ make apply "tf.

[2019-10-17 09:43] ketzacoatl opened #268 "Review/update examples/docs to source modules from the registry"
If we have an example like:

[code]

We would want that updated to the following:

[code]

## Requirements

* [ ] Review all docs and examples (eg `git grep ...`) for source URLs that use the github module format.
* [ ] All occurrences have be updated as shown above (or reviewed and excused for some sensible/legit reason).

[2019-10-17 09:45] #196 closed

[2019-10-17 10:48] ketzacoatl commented on #265
@Magicloud can you clarify: how can we help, or what would you like to see done?

[2019-10-18 15:09] Magicloud commented on #265
@ketzacoatl This was the confusing code piece I chatted with you the other day. I think it is a mis-implementation. Thus I have that PR. Please review.

[2019-10-18 23:28] mcgirr commented on #248
I've added a small update to the changelog to add a version `0.9.6` but we still have a good amount of changes that are still in the unreleased section of the changelog that we should sort out.

It would be good to figure out which of those belong in which release and add entries for `0.9.4` and `0.9.5` as well since those seem to have been skipped when those versions were released.

[2019-12-03 07:12] qrilka commented on #248
1d4949ba2c207d0fd209c29b5d009ef9a349e1fe seems to be a fix for this one

[2019-12-03 07:12] #248 closed

[2019-12-03 08:50] qrilka opened #276 "path variable not used in the iam-users module"
### Unused path variable

`modules/iam-users/main.tf` contains declaration of the `path` variable but it's not used in the module, probably `aws_iam_user` should use it as its `path` attribute?

[2019-12-10 12:28] Magicloud opened #280 "EBS attaching failed in single-node-asg when the instance is signaficantly slow."
Just doing some test in AWS Tokyo DC. To my surprise, it took unusually long time for the instance status being ready. It may be issues on AWS side, but it also triggered issue in the module.

[code]

EBS attaching failed due to above error.

[2020-01-05 17:29] Magicloud opened #286 "s3-remote-state.principals should not have empty list as default."
Default value means the caller can skip that variable, but skipping that value ends up invalid policy document passing to AWS and terraform stuck on creating the policy.

The default value should be gone to inform the caller that he must pass a value.

[2020-01-07 02:57] ggund opened #287 "ELK - Documentation"
If you have a question that isn't covered by the
[repository examples](https://github.com/fpco/terraform-aws-foundation/tree/master/examples)
or the [terraform module documentation](https://registry.terraform.io/modules/fpco) please reach out.

If your question is more generally about any of the tools used in the repository, it is advised to reach
out to the relevant help resources for that tool.

[2020-01-07 19:21] Magicloud commented on #287
1. Base rules are attached by module. So if you do not have other requirement, TCP 9200 and 9201 will be opened.

3. ARN is needed only when deploy_elb is false, which means the module won't create ELB, which means you need to provide an ELB to the module via ARN.

[2020-02-05 19:21] ketzacoatl opened #292 "single-port-sg supports source_security_group_id"
ATM, our ingress rules are like:

[code]

But it is sometimes nice to use `source_security_group_id` instead of `cidr_blocks`. The module should support both.

[2020-02-20 23:54] mcgirr commented on #267
@ketzacoatl is this potentially related to https://github.com/fpco/terraform-aws-foundation/issues/286?

[2020-02-21 00:30] mcgirr commented on #267
I think this will be resolved when https://github.com/fpco/terraform-aws-foundation/issues/286 is resolved. I've run into something similar recently and setting the `principals` input on the `s3-remote-state` module resolved the issue for me.

[2020-02-21 01:13] mcgirr commented on #286
I have https://github.com/fpco/terraform-aws-foundation/pull/297 for this issue

[2020-02-27 17:35] ketzacoatl opened #298 "correct centos AMI owner"
We must pull an AMI from a reputable owner. For CentOS, that is either AWS or an official redhat/centos community entity. Update this as needed: https://github.com/fpco/terraform-aws-foundation/blob/master/modules/ami-centos/main.tf#L25

[2020-02-27 18:37] JoseD92 commented on #298
changing the product code is not enough, search for images from official centOS and the unknown source with:

[code]

the only way to differentiate the official ami from the unknown one is by either their descriptions or their ProductCodeId, adding it to the filter will solve the problem

[2020-03-02 19:57] ketzacoatl opened #306 "Update PR template"
For consideration..

* Clarify PR/release cycle/process.
* Don't recommend updating the `CHANGELOG.md` in the PR. Update the CHANGELOG when creating a new release (and release often).
* PR template should be simpler/smaller and tell the developer which portions to keep and which to drop.

[2020-03-03 15:55] ketzacoatl commented on #298
This is complete, TY for the updates!

[2020-03-03 15:55] #298 closed

[2020-03-07 00:17] mcgirr opened #310 "Add KMS encrption to the s3-remote-state module"
There are two requirements for this issue (and for one we already have an open PR):

1. Update the [s3-remote-state](https://github.com/fpco/terraform-aws-foundation/tree/master/modules/s3-remote-state) module to use KMS to encrypt its contents
2. Set up separate KMS module that can be used to easily provide a KMS key for the `s3-remote-state` module for this purpose.

[2020-03-07 00:18] mcgirr commented on #310
We have https://github.com/fpco/terraform-aws-foundation/pull/302 that addresses the first requirement

[2020-03-07 00:23] mcgirr commented on #286
This issue has been completed now with https://github.com/fpco/terraform-aws-foundation/pull/297

[2020-03-07 00:23] #286 closed

[2020-03-07 00:24] mcgirr commented on #267
@ketzacoatl I think this issue is good to close now that we've addressed https://github.com/fpco/terraform-aws-foundation/issues/286 with https://github.com/fpco/terraform-aws-foundation/pull/297

[2020-03-07 00:27] mcgirr commented on #267
@devgnx can you please confirm if you're still encountering the same issue when using the module with the changes from https://github.com/fpco/terraform-aws-foundation/pull/297? If you provide a non-empty list of principals I believe the issue you described will go away.

[2020-03-20 21:01] mcgirr opened #312 "Add optional IPv6 support to the subnets module and vpc module"
Currently the [vpc](https://github.com/fpco/terraform-aws-foundation/tree/master/modules/vpc) and [subnets](https://github.com/fpco/terraform-aws-foundation/tree/master/modules/subnets) modules support IPv4.

This issue proposes adding (optional) IPv6 support to these modules as well.

### Brief background

Currently when we launch an instance into a VPC, a primary private IP address from the IPv4

[2020-04-01 23:10] mcgirr opened #316 "Have the alb_target_group_arns passed through to the asg module used in the single node asg module"
We don't have the `alb_target_group_arns` being passed through to the `asg` module that is being used in the single node asg module here: https://github.com/fpco/terraform-aws-foundation/blob/d4daaa2af8d2338c0e17afa3921cde39de838f76/modules/single-node-asg/main.tf#L55-L57

And I think we'd like to have that be able to optionally take an input for the `alb_target_group_arns` variable from the `asg`

[2020-04-01 23:12] mcgirr commented on #316
I've opened https://github.com/fpco/terraform-aws-foundation/pull/317 with the changes for this issue.

[2020-04-10 07:26] qrilka opened #321 "VPC scenarios are no longer in AWS docs?"
VPC scenarios modules reference https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Scenarios.html and talk about scenarios 1, 2, 3 and 4. Currently that page doesn't appear to list anything like that, what I see are 4 (not numbered) examples with some CLI usage and 3 other examples "Centralized router", "Isolated VPCs" and "Isolated VPCs with Shared Services". All of this is quite confusing. Are

[2020-04-12 18:57] mcgirr commented on #267
Closing this as resolved. Please re-open if needed.

CC @ketzacoatl

[2020-04-12 18:57] #267 closed

[2020-04-15 00:19] #316 closed

[2020-04-16 19:45] ketzacoatl commented on #267
Looks great, thanks Mike!

[2020-10-27 02:07] mcgirr commented on #144
Closing this issue since it sounds like plan is to eventually shift all the CI for the repo to a Github Workflow as part of changes like https://github.com/fpco/terraform-aws-foundation/pull/320

[2020-10-27 02:07] #144 closed

[2021-07-17 05:01] JoseD92 opened #331 "Add new CentOS AWS provided amis to ami-CentOS module"
https://wiki.centos.org/Cloud/AWS shows there are some new AWS provided marketplace images, currently ami-centos only searches for CentOS provided images, that are now tag as legacy. We should include this new images.

[2021-07-23 00:56] #331 closed